$catchline-color: #777;
$tag-color: #777;

.companies {
  margin: 80px 0;

  .company {
    @media screen and (max-width: 767px) {
      margin: 24px 0;
    }
  }

  .company__title {
    font-size: 20px;
    margin: 0 0 8px;
  }

  .company__catchphrase {
    font-size: 16px;
    margin: 8px 0;
    color: $catchline-color;
  }

  .company__target {
    color: $tag-color;
    font-size: 12px;
    margin: 24px 0 0;

    &:before {
      content: '#';
      font-weight: bold;
      margin-right: 4px;
    }
  }
}
